{% extends 'base.html' %}
{% load static %}
{% block title %}
  Feed | AskFm
{% endblock %}

{% block profile_content %}
  <div id="topimge" style="margin: 20px 0 40px 0; border-radius: 50px;">
    <span style="padding-left: 50px;">
     <img src="{% if user.image %}
                 {{ user.image.url }}
               {% else %}
                 {% static 'imgs/default.jpg' %}
               {% endif %}" style="width: 100px; height: 100px; border-radius: 50%;">
    </span>
    <h1 style="padding-top:10px;margin: 30px 20px 20px 50px;margin-top: 30px;display: inline-block;
      font-size: 50px;color: white;">{{ user.first_name }} {{ user.last_name }}</h1>
    <span><i style="color: green;" class="fas fa-circle"></i></span>

    {% if flag %}
      {% if your_friend %}
        <a href="{% url 'accounts:unfollow' user.pk %}" title="unfollow" style="color: white;float: right;font-size: 40px;margin: 40px;">
          <i name="unfollow" class="fas fa-user-minus"></i>
        </a>
      {% else %}
        <a href="{% url 'accounts:follow' user.pk %}" title="follow" style="color: white;float: right;font-size: 40px;margin: 40px;">
          <i name="follow" class="fas fa-user-plus"></i>
        </a>
      {% endif %}
    {% endif %}
    <br><br>
  </div>
  <!--<hr style="border: 7px solid #CEC4D7; margin: 20px 0">-->
{% endblock %}

{% block content %}

 {% for q in questions %}
    <div class="con">
      <h3 style="padding: 20px;">{{q.0.body}}</h3>
      <br>
      <span style="padding: 20px; font-size: 20px; color: #CEC4D7">
        {{q.0.publish|timesince}}
      </span>
      <br>
      <h4 style="padding: 20px;">{{q.0.answer}}</h4>
      <div style="height: 50px;">
      {% if q.1 == 1 %}
        <a class="like_dis" href="{% url 'question:dislike_question' q.0.id %}" >
          <span style="margin-left: 20px; font-size: 36px; color: #FF643C;">
            <i class='fas fa-heart'></i>
          </span>
        </a>
      {% else %}
        <a title="Like" class="like_dis" href="{% url 'question:like_question' q.0.id %}" >
          <span style="margin-left: 20px; font-size: 36px; color: #CEC4D7;">
            <i class='fas fa-heart'></i>
          </span>
        </a>
      {% endif %}
       <a title="Re ask" style="float: right" href="{% url 'question:re_ask_question' q.0.id %}">
          <span style=" float: right; margin-right: 20px; font-size: 36px; color: #CEC4D7;">
            <i class='fas fa-recycle'></i>
          </span>
       </a>
      </div>
      <hr style="border: 7px solid #CEC4D7; margin: 0">
    </div>
  {% endfor %}
{% endblock %}

{% block sideContent %}
  <div class="row" style="color: white;text-align: center;font-size: 20px;">
    <div style="width: 30%;display: inline">
      <div style="color: #00AEB8;">
        <i class="fas fa-comment-alt" style="font-size: 30px;"></i>
      </div>
      <div>{{ quest_count }}</div>
      <div style="color: #929497;">Posts</div>
    </div>
    <div style="width: 30%; display: inline;">
      <div style="color: #FF643C;">
        <i class="fab fa-gratipay" style="font-size: 30px;"></i>
      </div>
      <div>{{ like_count }}</div>
      <div style="color: #929497;">Likes</div>
    </div>
    <div style="width: 30%; display: inline;">
      <div style="color: #8E008B;">
        <i class="fas fa-user-check" style="font-size: 30px;"></i>
      </div>
      <div>{{ quest_count }}</div>
      <div style="color: #929497;">Followers</div>
    </div>
  </div>
  <br>
  <div class="row" style="color: white;">
    <div style="width: 50%; text-align: center;">
      <h4>About Me</h4>
    </div>
    {% if request.user.pk == user.pk %}
      <div style="width: 50%; text-align: center">
        <a style="color: #FF643C; text-decoration: none;" href="{% url 'accounts:edit_profile' user.pk %}">
          <i class="fas fa-pencil-alt"></i>Edit Profile</a>
      </div>
    {% endif %}
    <div style="width:100%;">
      <label style="padding-left: 20px; font-size: 20px;">username:-  </label>
      <h4 style="display: inline-block;color: #929497;"> {{ user.username }}</h4>
    </div>
    <div style="width:100%;">
      <label style="padding-left: 20px; font-size: 20px;">first name:-  </label>
      <h4 style="display: inline-block;color: #929497;"> {{ user.first_name }}</h4>
    </div>
    <div style="width:100%;">
      <label style="padding-left: 20px; font-size: 20px;">last name:-  </label>
      <h4 style="display: inline-block;color: #929497;"> {{ user.last_name }}</h4>
    </div>
    <div style="width:100%;">
      <label style="padding-left: 20px; font-size: 20px;">email:-  </label>
      <h4 style="display: inline-block;color: #929497;"> {{ user.email }}</h4>
    </div>
  </div>
  <br><br>
  <hr style="border: 1px solid #CEC4D7; margin: 0">
  <br><br>
  <div class="row footer">
    <ul style="list-style: none;margin: 0;padding: 5px; font-size: 30px;">
      <li style="float: left;margin-left: 10px;">
        <a href="https://www.facebook.com/askfmpage">
          <i style="color: #FF643C;" class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li style="float: left;margin-left: 10px;">
        <a href="https://instagram.com/askfm">
          <i style="color: #FF643C;" class="fab fa-instagram"></i>
        </a>
      </li>
      <li style="float: left;margin-left: 10px;">
        <a href="https://twitter.com/askfm">
          <i style="color: #FF643C;" class="fab fa-twitter"></i>
        </a>
      </li>
      <li style="float: left;margin-left: 10px;">
        <a href="https://vk.com/askfm">
          <i style="color: #FF643C;padding: 5px;" class="fab fa-vk"></i>
        </a>
      </li>
      <li style="float: left;margin-left: 10px;color: #929497;">© Ask.fm 2018</li>
    </ul>
  </div>
{% endblock %}

{% block js %}
  <script>
    let topdiv = document.getElementById('topimge');
    topdiv.style.backgroundImage = 'url("../../static/imgs/background.svg")';
    $(document).ready(function(){
      let x = $('.nn i');
      for(let i = 0 ; i < x.length; i++)
      {
        $(x[i]).removeClass("active");
      }
      $(x[2]).addClass("active");
    });
    </script>
{% endblock %}