<!DOCTYPE html>
{% load static %}
{% load staticfiles %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %} AskFm Website {% endblock %}</title>
  <!-- font awsome -->
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css'
        integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU'
        crossorigin='anonymous'>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  {% include 'navbar.html' %}
  <hr style="border: .2px solid #000000; margin: 0">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block profile_content %}
        {% endblock %}
      </div>
      <div class="col-md-8">
        {% block content %}
        {% endblock %}
      </div>
      <div class="col-md-4">
        {% block sideContent %}
        {% endblock %}
      </div>
    </div>
  </div>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block js %}
  {% endblock %}
</body>
</html>