{% load static %}
{% load avatar_tags %}
<style>
  .av {
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2F353A; padding: 0 0 0 4%;">
  <a class="navbar-brand" style="color: #FF643C;font-size: 25px;
     font-weight: bold; font-style: italic; margin: 0; " href="{% url 'question:home' %}">
      <span style="font-size: 40px;">ask</span>fm
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nn nav-link" href="{% url 'question:home' %}">
          <i title="feed" class='active fas fa-home'></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'question:quest' %}" class="nn nav-link">
          <i title="Questions" class='fas fa-question-circle'></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'accounts:my_profile' request.user.id %}" class="nn nav-link">
          <i title="profile" class='fas fa-user-circle'></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nn nav-link">
          <i title="friends" class='fas fa-user-friends'></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nn nav-link">
          <i title="Notifications" class="fa fa-fire"></i>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nn nav-link">
          <i title="settings" class="fa fa-cog"></i>
        </a>
      </li>
      <li class="nav-item">
        <a style="font-size: 25px; color: #FF643C"
           href="{% url 'accounts:my_profile' request.user.id %}" class="nav-link">
          {% if request.user|has_avatar %}
            {% avatar user 50 class="av" %}
          {% else %}
            <img src="media/avatars/default.jpg" style="width: 50px; height: 50px" class="av">
          {% endif %}
          {{ request.user.username }}
        </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'accounts:logout' %}" class="nn nav-link">
          <i title="Logout" class="fas fa-sign-out-alt"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>