body {
  background-color: white;
}

.row-head h1{
  text-align: center;
  width: 100%;
}

.row-head  a{
  color: #8E008B;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
.row-head a span {
  font-size: 50px;
}

.row-body {
  background-image: url("../imgs/background.svg");
  width: 100%;
}
.row-body div {
  margin: auto;
  text-align: center;
  font-size: 25px;
  color: white;
}

.row-body div img{
  width: 75px;
  height: 65px;
}

.row-body div a {
  width: 100%;
  border-radius: 10px;
  padding: 15px 120px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.row-body div .bt1{
  background-color: white;
  color: #8E008B;
  border: none;
}

.row-body div .bt2{
  background: none;
  color: white;
  border: 1px solid white;
  padding: 15px 127px;
}

.footer ul{
  list-style: none;
  margin: auto;
}

.footer ul li{
  float: left;
  font-size: 25px;
  padding: 15px;
  color: #B1ABB9 !important;
}

.footer ul li a{
  cursor: pointer;
  color: #B1ABB9 !important;
}

.login-head h1{
  margin-bottom: 0;
}

.login-head h1 a{
  color: #FF643C;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.login-head p{
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
  margin-bottom: 0;
}

.login-head .sig {
  color: #FF643C;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  float: right;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.login-head .sig:hover {
  background-color: #FF643C;
  color: white;
}

.login-form {
  background-color: white;
  margin: auto;
}

.login-form p {
  text-align: center;
  margin: 0;
}

.login-form p label{
  margin: 10px;
  font-size: 20px;
}

.login-form p input{
  width: 75%;
  font-size: 20px;
  height: 50px;
  padding: 0 10px;
  margin: 0;
}

.login-form button{
  width: 75%;
  background-color: #FF643C;
  color: white;
  font-weight: bold;
  margin: 20px 85px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

span {
  color: #B1ABB9;
}

.login-form li:first-of-type {
  margin-left: 40px;
}

.login-form li a{
  border-radius: 50%;
  font-size: 40px;
  margin: 10px 30px 0px 0;
  width: 77px;
}

.signup-form ul{
  list-style: none;
}

.signup-form ul li{
  text-align: center;
}
