body{
  background-color: #2F353A;
  margin: 0px;
  padding: 0px;
}

@media (min-width: 1200px){
  .container {
    width: 1170px;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navbar-nav .nav-item {
  padding-right: 30px;
}

.nn {
  font-size: 25px;
  color: #929497 !important;
}

i {
  cursor: pointer;
}

.nn i:hover {
  color: #FF643C;
}

.active {
  color: #FF643C;
}

.set-menu {
  display: none;
  background-color: #FF643C;
  border-radius: 5%;
  position: absolute;
  list-style: none;
  padding: 0;
}

.set-menu .m {
  color: white !important;
  border-radius: 5px;
  cursor: pointer !important;
}

.con , .con1{
  background-color: white;
}
.con p{
  margin: 0;
  padding: 10px;
}

.con h3, .con1 h3{
  padding: 20px;
  width: 80%;
  display: inline-block;
}
.like_dis {
  float: left;
}
.con1 a {
  float: right;
  text-decoration: none;
}

.con1 p{
  padding-left: 20px;
  display: inline-block;
}

.con1 a i {
  font-size: 20px;
  color: #929497;
  margin: 20px 20px;
}

.ans {
  cursor: pointer;
  color: #FF643C;
  border: none;
  font-weight: bold;
  font-size: 20px;
  margin-right: 3%;
  padding: 1%;
}
.ans:hover{
  color: white;
  background-color: #FF643C;
  border-radius: 40%;
}


.sid_user span {
  color: #f8f9fa;
}
.sid_user img{
  margin-top: 10px;
  margin-bottom: 10px;
}
.sid_user .ask_user{
  float: right;
  cursor: pointer;
  color: #FF643C !important;
  border: none;
  font-weight: bold;
  font-size: 20px;
   margin-top: 10px;
    padding: 12px;
  text-decoration: none;
}
.sid_user .ask_user:hover{
  color: white !important;
  background-color: #FF643C;
  border-radius: 45%;
  text-decoration: none;
}

button{
  background-color: white;
  border: 1px solid #FF643C;
  padding: 10px 20px;
  border-radius: 1em;
  cursor: pointer;
}

button i{
  color: #FF643C;
  font-size: 25px;
}

button:hover{
  color: white;
  background-color: #FF643C;
}

button:hover i{
  color: white;
  background-color: #FF643C;
}

i[name='follow']:hover
{
  color: #FF643C;
}

i[name='unfollow']:hover
{
  color: #FF643C;
}