{% extends 'base.html' %}
{% load static %}
{% load avatar_tags %}
<style>
  .av {
    border-radius: 50%;
    margin: 0;
    padding: 0;
  }
</style>
{% block title %}
  Feed | AskFm
{% endblock %}

{% block content %}
  <div style="background-color: white; text-align: center">
    <h2 style="padding-top: 20px; color: #FF643C">Answer the Question</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <p>
          <h5 style="margin: 0; padding: 0;">{{ field.label_tag }}</h5>
          {{ field}}
          {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <br>
  </div>
{% endblock %}

{% block sideContent %}
  <br>
  {% for u in users %}
    {% if u != request.user %}
      <div class="sid_user">
        <span style="margin-left: 20px;">
            {% if u|has_avatar %}
              {% avatar u 50 class="av" %}
            {% else %}
              <img src="/media/avatars/default.jpg" style="width: 50px; height: 50px" class="av">
            {% endif %}
        </span>
        <span style="padding: 20px; font-size: 20px;">{{u.username}}</span>
        <button>Ask ></button>
        <hr style="border: .4px solid #4F5458; margin: 0">
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function(){
      let x = document.getElementById('id_body');
      let l = x.textContent.length;
      l = l/50 + 1;
      x.rows = ""+l;
    });
  </script>
{% endblock %}