{% extends 'base.html' %}
{% load static %}
{% block title %}
  Feed | AskFm
{% endblock %}

{% block content %}
 {% for q in questions %}
    <div class="con">
      <h3 style="padding: 20px;">{{q.0.body}}</h3>
      <br>
      <span style="margin-left: 20px;">
        <a style="text-decoration: none" href="{% url 'accounts:my_profile' q.2.pk %}">
          <img src="{% if q.2.image %}
                      {{ q.2.image.url }}
                    {% else %}
                      {% static 'imgs/default.jpg' %}
                    {% endif %}" style="width: 50px; height: 50px; border-radius: 50%;">
        </a>
      </span>
      <span style="padding: 20px; font-size: 20px; color: #CEC4D7">
        {{q.0.receiver}} . {{q.0.updated|timesince}}
      </span>
      <br>
      <h4 style="padding: 20px;">{{q.0.answer}}</h4>
      <div style="height: 50px;">
      {% if q.1 == 1 %}
        <a class="like_dis" href="{% url 'question:dislike_question' q.0.id %}" >
          <span style="margin-left: 20px; font-size: 36px; color: #FF643C;">
            <i class='fas fa-heart'></i>
          </span>
        </a>
      {% else %}
        <a title="Like" class="like_dis" href="{% url 'question:like_question' q.0.id %}" >
          <span style="margin-left: 20px; font-size: 36px; color: #CEC4D7;">
            <i class='fas fa-heart'></i>
          </span>
        </a>
      {% endif %}
       <a title="Re ask" style="float: right" href="{% url 'question:re_ask_question' q.0.id %}">
          <span style=" float: right; margin-right: 20px; font-size: 36px; color: #CEC4D7;">
            <i class='fas fa-recycle'></i>
          </span>
       </a>
      </div>
      <hr style="border: 7px solid #CEC4D7; margin: 0">
    </div>
  {% endfor %}
{% endblock %}

{% block sideContent %}
  {% include 'question/sideContent.html' %}
{% endblock %}