{% extends 'base.html' %}
{% load static %}
{% block title %}
  Feed | AskFm
{% endblock %}

{% block content %}
 {% for q in questions %}
    <div class="con1">
      <h3>{{q.body}}</h3>
      <a href="{% url 'question:quest_del' q.id %}"><i class="fas fa-trash-alt"></i></a>
      <br>
      <span style="padding: 20px; font-size: 20px; color: #CEC4D7">
        {{q.created|timesince}}
      </span>
      <a class="ans" href="{% url 'question:Ans_question' q.id %}">Answer > </a>
      <br><br>
      <hr style="border: 7px solid #CEC4D7; margin:0;">
    </div>
  {% endfor %}
{% endblock %}

{% block sideContent %}
  <br>
  <h5 style="color: #929497">your Friends</h5>
  {% for u in users %}
    <div class="sid_user">
      <a style="text-decoration: none;" href="{% url 'accounts:my_profile' u.pk %}">
        <span style="margin-left: 20px;">
          <img src="{% if u.image %}
                      {{ u.image.url }}
                    {% else %}
                      {% static 'imgs/default.jpg' %}
                    {% endif %}" style="width: 50px; height: 50px; border-radius: 50%;">
        </span>
        <span style="padding: 20px; font-size: 20px;">{{u.username}}</span>
      </a>
      <a class="ask_user" href="{% url 'question:add_question' u.pk %}">Ask ></a>
      <hr style="border: .4px solid #4F5458; margin: 0">
    </div>
  {% endfor %}
{% endblock %}

{% block js %}
  <script>
    $(document).ready(function(){
      var x = document.getElementsByTagName('i');
      $(x[0]).removeClass("active");
      $(x[1]).addClass("active");
    });
  </script>
{% endblock %}